* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', 'Arial', sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width:100%;
    min-height: 100vh;
}
.top{
    width:100%;
    min-height: 60vh;
    background-image: url(https://t4.ftcdn.net/jpg/03/24/65/05/360_F_324650595_4GNwUIiTBEXJS8MZ8nTovhrejLhqRD1M.jpg);
    background-size: cover;
    background-position: center;
}
.icon{
    color: rgb(189, 185, 185);
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(19, 18, 18, 0.295);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 10vh;
    color: rgba(27, 26, 26, 0.299);
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 5vw;
    color: rgba(239, 233, 233, 0.942);
}
.text .image{
    background-image:url(https://w0.peakpx.com/wallpaper/513/456/HD-wallpaper-luxury-time-blue-luxury-shock-watch-watches.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
.rtext{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 12px;
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 40%;
    min-height: inherit;
    background-image: url(https://i.pinimg.com/474x/ed/2e/be/ed2ebeefd3e75d1dd55ef7d4ee7a9e5d.jpg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
    color: white ;
}
.b1 p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 30vh;
    background-image: url(https://i.pinimg.com/736x/0f/da/19/0fda191af0e6b2fb681710e3634fc4af.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    color: rgb(4, 4, 4);
    padding: 15px;
}
.b2 .up p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}
.b2 .down{
    width: 100%;
    min-height: 30vh;
    background-image: url(https://thumbs.dreamstime.com/b/beige-colored-seamless-linen-texture-fabric-canvas-background-natural-beige-colored-seamless-linen-texture-fabric-canvas-148204582.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
     position: relative;
     width: 100%;
     min-height: 20vh;
     background-color:rgba(224, 220, 220, 0.263);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image: url(https://i.pinimg.com/474x/ed/2e/be/ed2ebeefd3e75d1dd55ef7d4ee7a9e5d.jpg);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh ;
}
.b3 .overlay p{
    color: white;
    padding: 1.2vh;
}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 200%;
        margin-left: initial;
    }
} 
@media(max-width:500px)
{
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icon{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 40vh;
    }
    .b2{
        width: 100%;
        min: height 40vh; ;
    }
    .b2 up{
        min-height: 40vh;
    }
    .b3{
        width: 100%;
        background-position: left;
        min-height: 40vh;
    }

}